<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /BiosphericallyCorrect/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /BiosphericallyCorrect/index.php [L]
</IfModule>
