h1, h2, h3, h4, p{
    padding-left: 15px;
}


div.tableContainer {
	display: table;
	width: 100%
}

div.tableRow {
	display: table-row;
}

div.tableHead {
	display: table-cell;
	background: #424F42  top left; 
	background-color: #67cc47;
	font-size: 105%;
	padding: 5px;
	/*vertical-align: top;*/
	text-align: center;
}

div.tableData {
	display: table-cell;
	width: 300px;
	/*background: #efe5d0  top left; */
	background: #f1f1f1 top left ;
	background-color: #f1f1f1;
	font-size: 105%;
	padding: 15px;
	vertical-align: top;
	text-align: center;
}

div.tableContainerwithBorder {
	border-radius: 5px;
	border-color:	gray;
	border-width:	1px;
	border-style:	solid;
	/*border-style*/: 
}

div.EarnMorePointTableHead {
/*	display: table-cell;
	display: inline-block;*/
	/*height: 20px;*/
	/*width: 550px;*/
	width: 100%;
/*	float:left;*/
	text-align: center;
	font-weight: bolder;
	color: #7fc241;
	/*padding: 30px, 30px, 15px, 30px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	
	/*border: dotted;*/
}

div.EarnMorePointTableRow {
	display: table-row;
	/*width: 400px;*/
	width:100%;
	/*height: 200px;*/
	text-align: center;
	font-weight: bolder;
	padding: 30px, 30px, 15px, 30px;
	/*background-color: #f1f1f1;*/
	border: double red;
}

div.EarnMorePointTableData {
	display: table-cell;
	width: 25%;
	text-align: center;
	font-weight: bolder;
	padding: 30px, 30px, 15px, 30px;
	
	/*border: inset;*/
}

.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

span.inputRadio {
	padding-right: 50px;
}

div#globalPoint_background {
	width: 200px;
	height: 200px;
	float: right;
	background-color: #87CEFA;

	background-image:  url('../img/BiosphericallyCorrect.png'); 
	background-repeat: no-repeat;
	opacity:0.8;
}

div.globalPoint_front {
	text-align: center;
	opacity:1.0;
}
div#globalPoint {

/*	border-color:	black;
	border-width:	2px;
	border-style:	solid;*/
	
	opacity: 1.0;
	font-size: 105%;
	color: black;
	padding: 10px;
	/*margin: 0px 10px 10px 10px;*/
	width: 180px; 
	float: right;
}


#requiredActions {
	/*margin-top: 0px;*/
	padding: 15px;
	border-color:	gray;
	border-width:	1px;
	border-style:	solid;
	background-color: #a7cece;
}

#amazingFloat { 
	border-color:	black;
	border-width:	1px;
	border-style:	solid;
	width: 200px;
	float: right;
}


div.background-img {
	background-image: url('../img/BiosphericallyCorrect.png');
	background-size: 150px 150px;
	background-repeat: no-repeat;
	background-position: center;
	background: transparent;
}


div.question {
	display: table-cell;
	width: 500px;
	background: #f1f1f1    top left; 
	/*background-color: #675c47;*/
	font-size: 105%;
	padding: 15px;
	vertical-align: text-top;
}

div.answer {
	display: table-cell;
	background: #f1f1f1    top left; 
	/*background-color: #675c47;*/
	font-size: 105%;
	padding: 15px;
	vertical-align: top;
}

.textOverflow {
	height:25px;
	line-height:25px;
	width:300px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.textOverflowEMP {
padding-left: 30px;
width:300px;
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}

div.EMP_totalPoint {
	width: 150px;
	float: right;
	text-align: center;
	margin-right: 20px;
	margin-top: 20px;
}

div.EMP_resource {
	/*font-size: 105%;*/
	width: 500px;
	padding: 15px;
	/*vertical-align: top;*/
	/*margin: 10px;*/


	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

/*	border: 2px dashed #BD8110 !important;
    border-color:   black !important;
    border-width:   2px !important;
    border-style:   solid !important;*/
}

div.EMP_content {
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	white-space: normal;
	word-wrap: break-word; 
/*
	border: 2px dashed #BD8110 !important;
    border-color:   black !important;
    border-width:   2px !important;
    border-style:   solid !important;*/
}

div.EMP_stepsHint {
	width: 150px;
	float: right;
	/*background-color: #3a3a67;*/
	/*font-size: 105%;*/
	
	vertical-align: top;

	border: 1px solid #aaa;
/*	border-color:	gray;
	border-width:	1px;
	border-style:	solid;*/

	margin-top: 20px;
	margin-right: 15px;

	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 15px;
}

div.EMP_fullDescription {
	white-space: normal;
	word-wrap: break-word; 
	padding: 5px 20px 15px 10px;
	/*margin-bottom: 20px;*//*
	border-bottom: 1px solid #ccc;*/
	/*border-bottom: 1px dotted #eee;
	border-width:	1px;
	border-style:	solid;*/
/*
	border: 2px dashed #BD8110 !important;
    border-color:   black !important;
    border-width:   2px !important;
    border-style:   dotted; !important;*/

}

div.EMP_KeySteps {
	width: 500px;
	padding: 5px 20px 15px 10px;


	border-top: 1px solid #ccc;
/*
	border: 2px dashed #BD8110 !important;
    border-color:   black !important;
    border-width:   2px !important;
    border-style:   dotted; !important;*/
}

.textareaCss {
	width: 300px;
}

.table_vertical_align_top td{
	vertical-align:text-top;
	/*text-align: right;*/
	/*border: solid;*/
}

div#public_profile
{
	padding: 20px;
}

div#profile_head {
	width: 100%;
	height: 130px;
	/*border: solid;*/
	background-color: #f0f0f0;
}
div#profile_head_right {
	float: right;
	padding-right: 40px;
}
div#profile_info {

	/*border: thick outset #00ff00;*/
}
div#profile_image {
	margin-top: 20px;
	float:right;
	/*background: url("../img/badge1.png");*/
	width: 160px;
	height: 160px;
	background-color: white;
	/*border: solid;*/
}
div#profile_logo {
	margin-top: 20px;
	margin-left: 20px;
	/*padding-left: 40px;*/
	/*float:left;*/
	width: 180px;
	height: 180px;
	background-color: white;
	/*border: solid;*/
}
div#profile_initiatives {
	border: thick outset ;
}
div#profile_list {
	padding-left: 30px;
	/*border: dotted;*/
}
ul.initiatives {
	/*border: dotted;*/
}
li.profile_category {
	font-size: 16px;
	font-style: bold;
}
li.unpair {
	font-size: 13px;
	/*border: solid;*/
	/*font-family: 'Glyphicons Halflings';*/
	/*content: "\e013";*/


}


ul.help_link {
	color: blue;
	text-decoration:  underline;
	font-family: 'Glyphicons Halflings';
	content: "\e013";
}

/*#register_introducrion {
}

#register_note {
}*/
